<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="Dao" class="B.AutoWired.Dao.WordDao"/>
<bean id="register" class="B.AutoWired.service.WordRegisterService">
    <constructor-arg ref="Dao"></constructor-arg>
</bean>
    <bean id="search" class="B.AutoWired.service.WordSearchService">
        <constructor-arg ref="Dao"/>
    </bean>
</beans>